.items_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1600px) {
  .items_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1250px) {
  .items_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .items_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .items_wrapper {
    grid-template-columns: 1fr;
  }
}
